@use '../design-system/variables' as *;
@use '../design-system/mixins' as *;

.container {
    display: flex;
    gap: 1rem;
    border-radius: $border-radius-s;
}

.card {
    background: $color-base-block;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    border-radius: $border-radius-s;
    @include outline($side: all);
}

.side-container {
    background: $color-base-block;
    padding: $spacing-xxl;
    display: flex;
    flex-direction: column;
    gap: $spacing-xxl;
    width: auto;
    border-radius: $border-radius-s;
    @include outline($side: all);

    section {
    display: flex;
    flex-direction: column;
    gap: $spacing-l;

     p {
        cursor: pointer;
        user-select: none;
     }
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: $color-base-block;
    border-radius: $border-radius-s;
    @include outline($side: all);
}

.article-card {
    width: 100%;
    background: $color-base-block;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-s;
    @include outline($side: all);

    &:hover {
        cursor: pointer;
    }

    &:hover .article-card__image {
        background-size: 120%;
      }

    &__image {
       height: 20rem;
       background-image: url(./images/card-image.jpg);
       border-radius: 0 0 $border-radius-s $border-radius-s;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;

       transition: background-size 0.5s;

       &--medium {
        height: 10rem;
        border-radius: $border-radius-s $border-radius-s 0 0;
       }
    }

    &__content {
        padding: $spacing-xxl;
        display: flex;
        flex-direction: column;
        gap: $spacing-s;
    }

    &--small {
        background: none;
        border-radius: 0px;
        border: none;
        height: 100%;

        .article-card__content {
            padding: 0px;
        }
    }
    
}
