@use '../design-system/variables' as *;
@use '../design-system/mixins' as *;

.header {
    min-height: $header-height;
    background: $color-base-block;
    display: flex;
    @include outline(bottom);

    &__left-side {
        width: $nav-bar-width;
        display: flex;
        align-items: center;
        padding-left: $spacing-xxxl;
    }
    
    &__logo {
        display: flex;
        align-items: center;

        .icon {
            height: 35px;
            width: 35px;
        }
    }

    &__right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}

