@use '../design-system/variables' as *;
@use '../design-system/mixins' as *;

.topic-header {
    position: relative;
    height: 15rem;
    background-color: $color-base-block;
    padding-bottom: 8rem;
    display: none;
    border-radius: $border-radius-s;

    &__cover {
        height: 10.25rem;
        background-image: url(./images/card-image.jpg);
        border-radius: $border-radius-s;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__content {
        position: absolute;
        bottom: 0rem;
        padding: 0 $spacing-xxl $spacing-xxl $spacing-xxl;
        display: flex;
        align-items: flex-end;
        gap: $spacing-l;
    }

    &__image {
       height: 6.25rem;
       width: 6.25rem;
       background-image: url(./images/card-image.jpg);
       border-radius: $border-radius-s $border-radius-s 0 0;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;

       border: 0.5rem solid $color-base-block;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxs;
        height: fit-content;
    }

}

.feed-header {
    min-height: 10.25rem;
        border-radius: $border-radius-s;
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        @include outline($side:all);
}

#fh-image-1 {
    background-image: url(./images/card-image-1.jpg);
}

#fh-image-2 {
    background-image: url(./images/card-image-2.jpg);
}

#fh-image-3 {
    background-image: url(./images/card-image-3.jpg);
}

#fh-image-4 {
    background-image: url(./images/card-image-4.jpg);
}

#fh-image-5 {
    background-image: url(./images/card-image-5.jpg);
}