@use './design-system/variables' as *;
@use './design-system/mixins' as *;

@media (max-width: 1340px) {
    @include narrow-nav;

    .search-bar, .topic-list {
        width: $feed-width !important;
    }

    @include hide-elements('.layout__side-bar');

    .layout__body {
        max-width: 100%;
    }
    
        .layout__target-content {
        width: $feed-width !important;
    }
}


@media (max-width: 860px) {

    @include hide-elements('.nav-bar', '.search-bar', '.layout__side-bar', '.wrap');

    @include show-elements('.mobile-search', '.mobile-menu', '.mobile-navigation');

    .article-block {
        flex-direction: column !important;
    }

    .layout__top-bar {
        padding: 0 0 0 $spacing-xs !important;
    }

    .topic-list {
        width: 100% !important;
    }

    .layout__target-content {
        padding: $spacing-xs !important;
        width: 100% !important;
        padding-bottom: calc(8.5rem + $spacing-xs) !important;
    }

    .header__left-side {
        padding-left: $spacing-xs !important;
    }

    .header__right-side {
        padding-right: $spacing-xs !important;
        justify-content: flex-end;
        gap: $spacing-xs;
    }

    .card {
        padding: $spacing-xs;
    }

    .suggestion-block__row {
        flex-direction: column;
    }

    .suggestion-block__row-secondary {
        display: none;
    }
    
    .cases-search {
        flex-direction: column !important;
    }

    .case-tab {
        flex-direction: column;
        gap: $spacing-s;
        max-width: 100%;

        &__left-side {
            flex-direction: column;
            gap: $spacing-s;
            width: 100%;
        }

        &__title {
            margin-bottom: $spacing-s;
        }

        .tag {
            width: 100%;
        }
    }

    .subscription-promo__header {
        flex-direction: column;
        gap: $spacing-xxl;

        .button {
            width: fit-content;
        }
    }

    .subscription-promo__image {
        display: none;
    }

    .quote-block__image {
        display: none;
    }

    .test-widget__header {
        flex-direction: column;
        height: fit-content;
    }

    .article-card--horiz {
        flex-direction: column;
        
        .article-card__image {
            min-height: 10rem;
        }
    }

    .subscription-promo__item {
        flex-direction: column !important;
        align-items: inherit;
        gap: $spacing-xs;
    }
}