:root {
    --spacing-zero: 0rem;
    --spacing-xxs: 0.125rem;
    --spacing-xs: 1.25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 0.75rem;
    --spacing-l: 1rem;
    --spacing-xl: 1.25rem;
    --spacing-xxl: 1.5rem;
    --spacing-xxxl: 2.5rem;

    --color-font-primary: #ffffff ;
    --color-font-complementary: #FFFFFF · 80% ;
    --color-font-secondary: #FFFFFF · 60% ;
    --color-font-hint: #FFFFFF · 30% ;

    --color-base-background: #0F1011 ;
    --color-base-block: #1C1E20 ;
    --color-base-border: #363A45 ;
    --color-base-on-block: #323339 ;

    --color-brand-accent: #FC631E ;

    --border-radius-s: 0.5rem;
    --border-radius-m: 1rem;
    --border-radius-absolute: 62.5rem;
  }