@font-face {
    font-family: 'Hauora';
    src: url('../fonts/hauora.woff2') format('woff2');
  }

@font-face {
    font-family: 'Stiff Staff';
    src: url('../fonts/stiff_staff.woff2') format('woff2');
  }

@font-face {
    font-family: 'Aeonik Pro';
    src: url('../fonts/aeonik_pro.woff2') format('woff2');
  }