.nav {
    position: fixed;
    top: 0.4rem;    /* Отступ сверху */
    left: 1.5rem;   /* Отступ слева */
    width: calc(100% - 4rem); /* Учитываем отступы */
    background-color: rgba(240, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 6.4rem 0.8rem 6.4rem;
    border-radius: 1.2rem;
    overflow: hidden;
    backdrop-filter: blur(50px);

    p, a, li, ul {
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 0rem;
      white-space: nowrap;
    }

    li:hover {
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer !important;
    }
  }

.nav__list {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.nav__item {
  text-align: center;
  color: rgba(255, 255, 255,);
  user-select: none;
}


