html {
    font-size: 18px;
  }

body {
    font-family: 'Inter', sans-serif;
  }

 h1, h2, h3, h4, h5, h6 {
    line-height: 115%;
  }               
  
  h1 {
    font-size: 2.66rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }
  
  h2 {
    font-size: 1.85rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }
  
  h3 {
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }
  
  p, ul, a, input, input::placeholder {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.005rem;
    margin-bottom: 1.6rem;
  }
  