:root {
<<<<<<< HEAD
    --white: #ffffff;
    --black: #000000;
    --dark: #737373;
    --middle: #979797;
    --light: #dedede;
    --pink: #ff0aa9;
  }
=======
  --white: white;
  --black: black;
}
>>>>>>> e7d96b23a8b9065747c30f2a69378aa290930b18
