@use 'variables' as *;
@use 'mixins' as *;

.icon {
    height: 20px;
    width: 20px;
    fill: currentColor;

    &--muted {
        fill: $color-font-hint;
    }
    
    &--highlighted {
        fill: $color-brand-accent;
    }

}