@use 'variables' as *;
@use 'mixins' as *;

// Global
html {
  font-size: 16px;
  font-family: $font-primary;
  color: $color-font-primary;
}

// Styles
.typography {
  &__display4 { @include heading-style(3rem, 600, 3.25rem); }
  &__display3 { @include heading-style(2.5rem, 600, 3rem); }
  &__display2 { @include heading-style(2rem, 600, 2.5rem); }
  &__display1 { @include heading-style(1.75rem, 600, 2.25rem); }
  &__header2 { @include heading-style(1.5rem, 600, 1.75rem); }
  &__header1 { @include heading-style(1.25rem, 600, 1.5rem); }
  &__subheader3 { @include heading-style(1.0625rem, 600, 1.5rem); }
  &__subheader2 { @include heading-style(0.9375rem, 600, 1.25rem); }
  &__subheader1 { @include heading-style(0.8125rem, 600, 1.125rem); }
  &__body2 { @include text-style(1rem, 400, 1.5rem); }
  &__body1 { @include text-style(0.8125rem, 400, 1.125rem); }
  &__body1-short { @include text-style(0.8125rem, 400, 1rem); }
  &__caption2 { @include text-style(0.6875rem, 400, 1rem); }
  &__caption1 { @include text-style(0.5625rem, 500, 0.75rem); }

  &--muted { color: $color-font-secondary; }
  &--hint { color: $color-font-hint; }
  &--accent { color: $color-brand-accent; }

  &--line-limit {
    display: -webkit-box;
    -webkit-line-clamp: 2;  // Ограничение до двух строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    line-clamp: 2;  // Стандартная версия
  }
}