// Spacings
$spacing-zero: 0rem;
$spacing-xxs: 0.125rem;
$spacing-xs: 1.25rem;
$spacing-s: 0.5rem;
$spacing-m: 0.75rem;
$spacing-l: 1rem;
$spacing-xl: 1.25rem;
$spacing-xxl: 1.5rem;
$spacing-xxxl: 2.5rem;

// Colors / Font
$color-font-primary: rgba(27, 27, 30, 1);
$color-font-complementary: rgba(27, 27, 30, 0.6);
$color-font-secondary: rgba(27, 27, 30, 0.6);
$color-font-hint: rgba(27, 27, 30, 0.3);

// Colors / Base
$color-base-background: #EEEEEE;
$color-base-block: #F6F6F6;
$color-base-border: #D8D8D8;
$color-base-on-block: #E5E5E5;
$color-base-input: #ECECEC;

// Colors / Brand
$color-brand-accent: #FC631E;
$color-brand-secondary: #FFF2E2;

// Border
$border-radius-s: 4px;
$border-radius-m: 1rem;
$border-radius-absolute: 100rem;

$border-width: 1px;

// Layout (Fixed Numbers)
$nav-bar-width: 15rem;
$feed-width: 43.75rem;
$side-bar-width: 16.25rem;
$central-content-width: calc($feed-width + $side-bar-width + $spacing-xxxl);

$top-bar-height: 4.5rem;
$header-height: 4rem;

// Font
$font-primary: "Inter", sans-serif;

