.nav {
    color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    width: 100%; 

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: calc((100% - 90rem) / 2);
    padding-right: calc((100% - 90rem) / 2);

    background-color: rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(50px);
  }

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 0;
}

.unactive {
  color: rgba(255, 255, 255, 0.179) !important;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;         
}

.description_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
   p {
    color: rgba(255, 255, 255, 0.8);
    max-width: 40%;
   }
   .description {
    color: rgb(255, 255, 255) !important;
   }
}


