<header class="header">

   <div class="header__left-side"> 

      <div class="header__logo" id="main"> 

         <svg class="icon"><use href="#icon-logo"></use></svg>

      </div>

   </div>

   <div class="header__right-side"> 
 
      <div class="search-bar" id="search-bar">  

         <span id="search-bar__text-measurer" class="search-bar__text-measurer"></span>

         <svg class="search-bar__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 21L16.65 16.65M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

         <input type="text" placeholder="Искать на FlopSpace..." id="search-bar__input-field" class="search-bar__input-field">

      </div>

      <div class="mobile-search" style="display: none;"> 

         <svg class="icon"><use href="#icon-search"></use></svg>

      </div>

      <div class="mobile-menu" style="display: none;"> 

         <svg class="icon"><use href="#icon-burger-menu"></use></svg>

      </div>

   </div>

</header>

  