<header class="header">

   <div class="header__left-side"> 

      <div class="header__logo" id="main"> 

         <svg class="icon"><use href="#icon-logo"></use></svg>

      </div>

   </div>

   <div class="header__right-side"> 
 
      <div class="search-bar" id="search-bar">  
      </div>

      <div class="mobile-search" style="display: none;"> 

         <svg class="icon"><use href="#icon-search"></use></svg>

      </div>

      <div class="mobile-menu" style="display: none;"> 

         <svg class="icon"><use href="#icon-burger-menu"></use></svg>

      </div>

   </div>

</header>

  