<div class="mobile-navigation__body">

<div class="mobile-navigation__item"> 

    <svg class="icon"><use href="#icon-podcast"></use></svg>  

</div>

<div class="mobile-navigation__item"> 

    <svg class="icon"><use href="#icon-video"></use></svg>

</div>

<div class="mobile-navigation__item"> 

    <svg class="icon"><use href="#icon-main"></use></svg>

</div>

<div class="mobile-navigation__item"> 

    <svg class="icon"><use href="#icon-fav"></use></svg>

</div>

<div class="mobile-navigation__item"> 

    <svg class="icon"><use href="#icon-cases"></use></svg>
    
</div>

</div>