<aside class="nav-bar"> 

    <div class="nav-bar__top"> 

        <ul class="nav-bar__list"> 

            <li class="nav-bar__item" id="none"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-sub"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Space+

                </div>

            </li>

            <li class="nav-bar__item" id="podcasts"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-podcast"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Подкасты
                    
                </div>

            </li>

            <li class="nav-bar__item" id="videos"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-video"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Видео 
                    
                </div>

            </li>

            <li class="nav-bar__item" id="fav"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-fav"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Избранное 
                    
                </div>

            </li>

        </ul>

        <ul class="nav-bar__list"> 

            <li class="nav-bar__item" id="home"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-main"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Лента
                    
                </div>

            </li>

            <li class="nav-bar__item" id="tests"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-tests"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Тесты 
                    
                </div>

            </li>

            <li class="nav-bar__item" id="network" style="display: none;"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-news"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Афиша
                    
                </div>

            </li>

            <li class="nav-bar__item" id="cases"> 

                <div class="nav-bar__icon">

                    <svg class="icon"><use href="#icon-cases"></use></svg>

                </div>

                <div class="typography__body2"> 

                    Кейсы
                    
                </div>

            </li>

        </ul>

    </div>

    <ul class="nav-bar__list" id="info"> 
        <li class="typography__body1 typography--muted"> ©FlopSpace 2025 </li>
        <li class="typography__body1 typography--muted"> Мы в соцсетях </li>
        <li class="typography__body1 typography--muted"> О нас </li>
        <li class="typography__body1 typography--muted"> Стайлгайд </li>
    </ul>
    
</aside>