<aside class="nav-bar"> 

    <div class="nav-bar__top"> 

        <ul class="nav-bar__list"> 
            <li class="typography__body2"> Главная </li>
            <li class="typography__body2"> Видео </li>
            <li class="typography__body2"> Подкасты </li>
            <li class="typography__body2"> Тесты </li>
        </ul>

        <ul class="nav-bar__list"> 
            <li class="typography__body2"> Главная </li>
            <li class="typography__body2"> Видео </li>
            <li class="typography__body2"> Подкасты </li>
            <li class="typography__body2"> Тесты </li>
        </ul>

    </div>

    <ul class="nav-bar__list"> 
        <li class="typography__body1 typography--muted"> Главная </li>
        <li class="typography__body1 typography--muted"> Видео </li>
        <li class="typography__body1 typography--muted"> Подкасты </li>
        <li class="typography__body1 typography--muted"> Тесты </li>
    </ul>
    
</aside>